html {min-height:100%; height:auto; font-family:arial, san-serif; font-size:12px; color:#000000;}
body {height:100%; margin-bottom: 1px;}
#main {min-width:780px; height:auto; position:absolute; top:0px; bottom:0px; left:0px; right:0px; width:100%;}
a:link, a:visited {color: #003366; text-decoration: none; font-weight: normal;}
a:hover {color: #003366; text-decoration: underline; font-weight: normal;}

/* head */
#path {width:100%; min-width:780px; position:relative; top:0px; left:0px; height:29px; background-image:url(imagenes/path_bg.gif); background-repeat:repeat-x;}
.nav {width:500px; height:21px; padding-left:12px; padding-top:4px; font-size:11px; color:#333333;}
.nav a {text-decoration:none; color:#333333;}
.nav a:hover {text-decoration:underline; color:#333333;}
.nav span {font-weight: bold;}
#ayuda {position:absolute; top:9px; right:12px; font-size:11px; color:#333333; text-align:right;}

#left {float:left; left:0px;}
#right  {float:right; right:0px; width:140px; height:200; margin-top:85px; background-image: url(imagenes/menuder_bg.gif); background-repeat:no-repeat;}
#right p {font-color:#ffffff; margin:15 10 10 30px;}

#menu {width:10.5em; height:200px; margin-top:-10px; font-size:12px; color:#ffffff; background-image:url(imagenes/menu_bg.gif);}
#menu ul {margin-left:-1.3em; margin-right:0px; padding-top:15px;} 
#menu li {list-style-type:none; list-style-image:url(imagenes/menu_bullet.gif); padding: 0 0 10 0px;}
#menu a {color:#ffffff; font-weight: bold; text-decoration:none;}
#menu a:hover {color:#000000; font-weight: bold; text-decoration:none;}

#curso {position:absolute; margin-left:12em; margin-top:20px; margin-right:1em; width:85%; min-width:700px; height:auto;}
#curso table {font-family:helvetica,san-serif; font-size:12px;}
#curso .tm {font-family:helvetica,san-serif; font-size:18px; color:#707070;}
#curso .tm b {font-size:20px; font-stretch: narrower; font-weight:bold; font-size:16px;}
#curso .tt {font-family:helvetica,san-serif; font-size:15px; color:#3b6289; font-weight:bold; margin:10 0 0 0px;}
#curso .ts {font-family:helvetica,san-serif; font-size:13px; color:#023567; font-weight:normal; margin:0 0 20 35px;}
#curso .tss {font-family:helvetica, san-serif; font-size:13px; color:#5a7c9c; font-weight:normal; margin:-20 0 20 61px;}

#curso ul {list-style-type:none; line-height:25px;}
#curso ul li {background: url(imagenes/bullet_1.gif) no-repeat 0px 8px; background-position:middle; padding: 0 0 0 15px;}
#curso ul li .li2 {list-style-type:circle; line-height:25px; background:url(); padding: 0 0 0 0px;}

#curso ol {line-height:20px; margin:0 10 0 40px;}
#curso ol .preg {line-height:20px; margin:0px; font-size:13px; color:#003366; font-weight:bold;}


#actividad {float:right; width:126px; height:100%; background-image:url(imagenes/act_bg.gif); background-repeat:no-repeat; border-bottom:1px solid #9fa1a5; margin:-20 0 0 20px;}
#actividad p {font-family:arial, san-serif; font-size:12px; line-height:20px; font-color:#333333; padding-top:50px; margin-left:10px;}

#page {margin-top:0px;}
#page table {font-family:arial, san-serif; color:#333333; word-spacing:10px; line-height:20px;}
#page table .on {text-decoration:none; color:#333333; background-color:#cccccc; padding:3px; font-weight:bold;}
#page table a {text-decoration:underline; color:#666666; font-weight:bold;}
#page table a:hover {text-decoration:underline; color:#333333; font-weight:bold;}


/*textos */
h3 {font-family:arial, san-serif; color:#333333; font-weight:bold; text-align:center; margin:0 auto;}
a:link.tx {text-decoration:underline;}
.tt {font-family:san-serif; font-size:15px; color:#3b6289; font-weight:bold; margin:10px;}
.tx2 {font-family:arial, san-serif; font-size:13px; color:#333333; font-weight:normal;}
.tx3 {font-family:arial, san-serif; font-size:11px; color:#333333; font-weight:bold;}
.tx4 {font-family:arial, san-serif; font-size:15px; color:#bf1e2e; font-weight:bold;}
.tx5 {font-family:arial, san-serif; font-size:11px; color:#333333; padding:5 0 10 15px;}
.tx6 {font-family:arial, san-serif; font-size:11px; color:#30667b;}

/*cajas */
#clic {width:80%; align:right; margin:10 auto; background-color:#ffffff; padding:2px; border:1px #cccccc dotted; align:center;}
#clic td {font-family:arial, san-serif; font-size: 11px; font-weight:bold; color: #333333;}

.box1 {font-family:arial, san-serif; font-size: 11px; font-weight:bold; color:#333333; background: url(imagenes/boxBg.gif) no-repeat 0px 0px;padding:5px; line-height: 15px;text-align: center;width: 532px; height: 43px;}

.box2 {font-family:arial, san-serif; font-size: 12px; font-weight:normal; color:#333333; background: #bbe0e3;padding:10px;width: 95%;}

.tbl_special {margin:15 0 15 0px; border-collapse:true; border-top:1px #999999 dotted; border-bottom:1px #999999 dotted; background-color:#eeeeee; padding:10px; font-family:arial, san-serif; font-size:12px; color:#000000;}

.tbl_boxed {position:relative; font-family:arial, san-serif; font-size:15px; color:#bf1e2e; font-weight:bold; text-align:center; margin:0 auto;}

.tbl_boxed2 {font-family:arial, sans-serif; font-size:12px; font-weight:normal; color:#333333; background: #bbe0e3; padding:10px; width:100%; margin:10 0 10 0px auto;}

.tbl_boxed4 {width:100%; border-collapse:true; border:2px #666666 solid; background-color:#25648f;}
.tbl_boxed4 td {padding:10px; color:#ffffff;}

.tbl_select {width:80%; border-collapse:true;}
.tbl_selectOff {padding:5px; color:#333333; border:2px #666666 solid; cursor:pointer;}
.tbl_selectOn {padding:5px; color:#333333; border:2px #29bbdd solid; background-image:url(imagenes/bg_1.gif); cursor:pointer;}

.tbl_person {background: url(imagenes/person.jpg) no-repeat 0px 0px; height:200px; width:528px;}
.tbl_person td {font-family:arial, sans-serif; font-size:15px; font-weight:normal; color:#333333; padding:20 30 25 195px; width:325px; vertical-align:top;}

.td_tt {background-image: url(imagenes/td_tt_bg.gif); background-repeat:repeat-x; border:2px solid #626262; color:#ffffff; font-size:12px; text-align:center; background-color:#2a5b7e;}

.tooltip {font-family:arial, san-serif; font-size:12px; font-weight:normal; color: #006699; text-decoration:underline; cursor:pointer;}

#idea {width:90%; background-image:url(imagenes/consejo_bg.gif); background-repeat:no-repeat; padding:30 10 10 10px; border-bottom:1px solid #d3d3c9; margin:5 0 10 0px; background-color:#efefe3;}
#idea p {font-family:arial, san-serif; font-size:12px; font-color:#333333; padding:20 0 0 42px;}

#ejercicio {width:90%; background-image:url(imagenes/ejercicio_bg.gif); background-repeat:no-repeat; padding:30 10 10 10px; border-bottom:1px solid #e0ccc8; margin:5 0 10 0px; background-color:#efe5e3; align:left;}
#ejercicio p {font-family:arial, san-serif; font-size:12px; font-color:#333333; padding:20 0 0 35px;}

#importante {width:90%; background-image:url(imagenes/importante_bg.gif); background-repeat:no-repeat; padding:30 10 10 10px; border-bottom:1px solid #ffff66; margin:5 0 10 0px; background-color:#ffffb2;}
#importante p {font-family:arial, san-serif; font-size:12px; font-color:#333333; padding:20 0 0 42px;}

#practica {width:90%; background-image:url(imagenes/practica_bg.gif); background-repeat:no-repeat; padding:30 10 10 10px; border-bottom:1px solid #75b1d9; margin:5 0 10 0px; background-color:#dbebf5;}
#practica p {font-family:arial, san-serif; font-size:12px; font-color:#333333; padding:25 0 0 20px;}

/*botones */
.btnTema {background-image:url(imagenes/btn_tema.gif); background-repeat: no-repeat; height:53px; width:217px; font-family:arial, san-serif; font-size:12px; color:#ffffff; padding:10px; vertical-align:top; cursor:pointer;}
.btnTemaOn {background-image:url(imagenes/btn_temaOn.gif); background-repeat: no-repeat; height:53px; width:217px; font-family:arial, san-serif; font-size:12px; color:#ffffff; padding:10px; vertical-align:top; cursor:pointer;}

.btn1 {background-image:url(imagenes/btn_1.gif); background-repeat: no-repeat; height:22px; width:100px; font-family:arial, san-serif; font-size:12px; color:#333333; font-weight:bold; text-align:center; cursor:pointer;}
.btn1on {background-image:url(imagenes/btn_1on.gif); background-repeat: no-repeat; height:22px; width:100px; font-family:arial, san-serif; font-size:12px; color:#99cc66; font-weight:bold; text-align:center; cursor:pointer;}

.btn2 {background-image:url(imagenes/btn_2.gif); background-repeat: no-repeat; height:44px; width:100px; font-family:arial, san-serif; font-size:12px; color:#333333; font-weight:bold; text-align:center; cursor:pointer;}
.btn2on {background-image:url(imagenes/btn_2on.gif); background-repeat: no-repeat; height:44px; width:100px; font-family:arial, san-serif; font-size:12px; color:#99cc66; font-weight:bold; text-align:center; cursor:pointer;}

.btn3 {background-image:url(imagenes/btn_3.gif); background-repeat: no-repeat; height:54px; width:121px; font-family:arial, san-serif; font-size:12px; color:#333333; font-weight:bold; text-align:center; cursor:pointer;}
.btn3on {background-image:url(imagenes/btn_3on.gif); background-repeat: no-repeat; height:54px; width:121px; font-family:arial, san-serif; font-size:12px; color:#99cc66; font-weight:bold; text-align:center; cursor:pointer;}

.validYes {background-color:yellow;}
.define {text-decoration:underline; cursor:pointer;}
.define a:hover {text-decoration:underline;color: #009999;}

/* foot */
#footer {height:20px; width:100%; text-align:center; font-size:10px;}