.boton-palabra{
    float: left;
    margin-left: 200px;
    margin-bottom: 100px;
    width: 18%;
    height: 60px;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid gold;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.boton-palabra:hover{
    background-color: gold;
}

#texto-boton-encima{
    margin-bottom: 50px;
}


#boton-palabra-1:hover span{
    display: none;
}

#boton-palabra-1:hover:before{
    content: "Palabra1";
}

#boton-palabra-2:hover span{
    display: none;
}

#boton-palabra-2:hover:before{
    content: "Palabra2";
}

#boton-palabra-3:hover span{
    display: none;
}

#boton-palabra-3:hover:before{
    content: "Palabra3";
}

#boton-palabra-4:hover span{
    display: none;
}

#boton-palabra-4:hover:before{
    content: "Palabra4";
}

#boton-palabra-5:hover span{
    display: none;
}

#boton-palabra-5:hover:before{
    content: "Palabra5";
}

#boton-palabra-6:hover span{
    display: none;
}

#boton-palabra-6:hover:before{
    content: "Palabra6";
}

#boton-palabra-7:hover span{
    display: none;
}

#boton-palabra-7:hover:before{
    content: "Palabra7";
}

#boton-palabra-8:hover span{
    display: none;
}

#boton-palabra-8:hover:before{
    content: "Palabra8";
}

#boton-palabra-9:hover span{
    display: none;
}

#boton-palabra-9:hover:before{
    content: "Palabra9";
}